<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
	<script src="https://code.angularjs.org/1.2.26/angular-route.js"></script>
	<script src="app.js"></script>
	<script src="test-service.js"></script>
	<style>
		#magic-button {
			display:none;
		}
	</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Angular Test Document</title>
</head>

<body ng-app="testApp">
	<div ng-controller="testController" ng-init="init()">

	<button ng-click="startScanner()">Click Me 2</button>
	<o></p>
	<label>Date Handling</label>
	<input type="date" ng-model="currentDate"  ng-change="changeDate(currentDate)" ng-controller="dateController as dateCtrl"></input><br/>

	<p></p>
	<form name="myForm" ng-controller="dateController as dateCtrl">
		   <input type="date" id="exampleInput" name="input" ng-model="datevalue"
		       placeholder="yyyy-MM-dd" min="2014-01-01" max="2014-12-31" required />
		</form>
	<p></p>
	<input type="date" class="form1"  value="{{date | date:MM/dd/yyyy}}"
                                ng-model="date" name="id" validatedateformat date-date-format="mm/dd/yyyy"
                                maxlength="10" id="id" calendar maxdate="todays"  ng-click="openCalendar('id')">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="openCalendar('id')"></span>

</div><!--end testController -->
</body>
</html>